@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.bg-color{
    background-color: black;
}
.fnt-color{
    color: #ffffff;
}
.heighlight{
    background-color: #E6533C;
}
.inter-font 
{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.dancing-script-font 
{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #E6533C;
    padding: 18px 30px;
    border-radius: 30px;
    border: none;
    font-weight: 700;
}
.des-color{
    color: #ffffff73;
}
/* navbar */
.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
    font-style: italic;
    color: #E6533C;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
}
.home-tab{
    padding: 8px 12px;
    border-radius: 18px;
}
.navbar{
    max-width: 1440px;
    margin: 0 auto;
}
.menu-bar{
    display: none;
}

/* banner starts here */
.banner{
    align-items: center;
    margin: 30px 100px;
}
.banner-title{
    font-weight: 700;
    font-size: 5rem;
}
.banner-content{
    width:50%;
    position: relative;
}
.banner-img{
    margin-left: 60px;
}
.download{
    background-color: transparent;
    padding: 18px 30px;
    border-radius: 30px;
    font-weight: 700;
}
.ball{
    background-color: #E6533C;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 15px;
    margin-right: 20px;
}

.badge1{
    background-color: rgba(0, 0, 0, 0.447);
    width: max-content;
    padding: 20px 30px;
    border-radius: 10px;
    position: absolute;
    top: 60%;
    left: 7%;
    align-items: center;
}
.badge2{
    background-color: rgba(0, 0, 0, 0.447);
    width: max-content;
    padding: 20px 30px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 30%;
    align-items: center;
}

/* habit section */
.habit{
    text-align: center;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 100px 198px;
}
.card{
    background-color: transparent;
    width: 14rem;
}
.card-img{
    height: 11.25rem;
    width: 11.25rem;
    border-radius: 90px;
}
/* extra mile run */
.extra-mile{
    background-color: #222222;
    align-items: center;
    justify-content: space-evenly;
    gap: 165px;
    border-radius: 18px;
}
.extra-container{
    width: 30%;
    padding: 40px;
}
.extra-title{
    font-weight: 700;
    font-size: 3rem;
}
.extra-img{
    width: 22.875rem;
    height: 19.5rem;
    border-radius: 18px;
}

/* bmi starts here */
.bmi{
    align-items: center;
    text-align: left;
}
.bmi-title{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0;
}
.bmi-title, .bmi-title-des{
    padding: 0 384.5px;
}
.bmi-container{
    align-items: center;
    gap: 175px;
    background-color: #222222;
}
.bmi-chart-container{
    padding-left: 189px;
    padding-bottom: 50px;
}
.bmi-calculator-container{
    padding-right: 189px;
}
.chart-table th.nowrap, td.nowrap {
    white-space: nowrap;
}
.chart-table, td, th{
    border: 1px solid #ffffff73;
    border-collapse: collapse;
    padding: 15px 20px;
}
.chart-title, .bmi-calculator-title{
    font-size: 1.75rem;
}
.bmi-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}
.bmi-input, .bmi-input-activity{
    background-color: #ffffff73;
    border: none;
    border-radius: 8px;
    padding: 20px;
}
.bmi-input-activity{
    grid-column: 1/span 2;
}
/* responsive media query */
@media screen and (max-width: 576px) {
    
    .nav-link, .nav-links{
        display: none;
    }
    .menu-bar{
        display: inline;
    }
    .navbar{
        margin: 0 auto;
        justify-content: space-evenly;
    }
    .banner{
        flex-direction: column;
        margin: 0 auto;
    }
    .btn-primary, .download{
        margin-bottom: 20px;
    }
    .banner-img{
        margin: 0 auto;
    }
    .habit{
        margin: 0 28px;
    }
    .card-container{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 81px;
    }
    .extra-container{
        width: 80%;
        padding: 2rem;
    }
    .extra-title{
        font-weight: 700;
        font-size: 2rem;
    }
    .extra-mile{
        flex-direction: column;
        gap: 0px;
        margin: 0 0;
        align-items: center;
        text-align: left;
    }
    .bmi-container{
        flex-direction: column;
        gap: 0;
    }
    .bmi-title{
        padding: 30px 20px 0px 20px;
    }
    .bmi-title-des{
        padding: 20px 0;
    }
    .bmi-container{
        gap: 0;
    }
    .bmi-chart-container, .bmi-calculator-container{
        padding: 0 20px;
    }
}